@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@font-face{
    font-family: Brickson;
    src: url('./Fonts/BricksonFreeTrial-jEYAG.otf')
}
@font-face{
    font-family: Zing;
    src: url('./Fonts/ZingRustDemo-Base.otf')
}

body{
    background-color: #E6E1D8;
    font-family: 'Nunito', sans-serif;
}

#logo-img{
    width: 100px;
    transform: translateY(-12px);
}

.header{
    padding-right: 120px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #423A38;
}

.menu{
    display: flex;
    list-style: none;
    color: white;
    gap: 80px;
}

.menu li:hover{
    color: #F6B332;
    transition: 0.2s;
}

.content-box{
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    width: 200px;
    height: 200px;
    background: #ff8828;
    border-radius: 1.5rem;
    text-align: center;
}

.content-box:hover{
    transform: translateY(-10px);
    transition-duration: 0.3s;
    
}


.box-shadow{
    -webkit-box-shadow: 10px 10px 25px -6px rgba(0,0,0,0.19);
    -moz-box-shadow: 10px 10px 25px -6px rgba(0,0,0,0.19);
    box-shadow: 10px 10px 25px -6px rgba(0,0,0,0.19);
}

.clay-background{
    background-color: rgb(223, 223, 223);
}

.about-container{
    position: relative;
}

.about-text{
    position: absolute;
    display: flex;
    width: 500px;
    top: 6rem;
    right: 6rem;
}

#about-us{
    color: white;
    margin: 0;
    font-family: Zing;
    font-size: 80px;
    line-height: 5rem;
    /* background-color: #F6B332; */
    background-color: #ff8828;
}

.brown-color{
    color:#423A38;
}

.about-text p{
    background-color: white;
    padding: 2rem;
    margin:0;
}

.qualities-box{
    margin: 5rem;
    padding-top:10rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-around;
}

.stores-container{
    position: relative;
}

.stores-name{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    font-size: 30px;
    color: rgb(255, 199, 126);
    font-family: Zing;
    z-index: 1;
}

.stores-text-block{
    margin: 0 150px;
}

.name1{
    transform: translateX(-25px);
}
.name3{
    transform: translateX(22px);
}


.footer {
    background-color: #423A38;
    color: white;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
  
.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
  
.footer-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.footer-section a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.2s ease;
}
  
.footer-section a:hover {
    color: #F6B332;
}
  
.footer-section a.monospace {
    font-family: monospace;
}
  
.footer-copyright {
    margin-bottom: 20px;
}

.footer img{
    transform: translate(-50px);
}  


@media screen and (max-width: 768px){
    .menu{
        gap:10px;
    }
}
    
